<html>
<head>
	<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
	</style>
</head>
<body>
<table class="gridtable">
	<caption>Loans
	</caption>
	<colgroup />
	<colgroup span="2" title="title" />
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Salary</th>
			<th scope="col">Loan Amount</th>
			<th scope="col">Tenure</th>
			<th scope="col">Purpose</th>
		</tr>
	</thead>
	<tfoot>

	</tfoot>
	<tbody>
		<tr>
			<td>Aditya</td>
			<td>50000.00</td>
			<td>200000.00</td>
			<td>3</td>
			<td>Travel</td>
		</tr>
	</tbody>
</table>
</body>
</html>



